<div class = 'container'> 
	<div class = 'jumbotron'>
		<h1> Welcome to Bullship </h1>
	</div>
	<div class="row">
	<div class="col-md-6" align="right">
	<%= form_for(@user) do |f| %>
      <%= f.label :customer_name %>:
      <%= f.text_field :customer_name %>
	  <br>

      <%= f.label :email %>:
      <%= f.email_field :email %>
	  <br>

      <%= f.label :password %>:
      <%= f.password_field :password %>
	  <br>

	  <%= f.submit "Login", class: "btn btn-primary" %>
	 <% end %>
	 <br>
	 Don't have an account? <a href="/signin/register"> Register here </a href>
	 </div>
	</div>
</div>
